/* Font Inter  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: rgba(246, 246, 249, 0.75);
}

.back-transparent-layer {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.49);
    width: 100%;
    height: 100%;
    z-index: 11;
    display: none;
}

.content {
    display: flex;
    width: 100%;
    height: 100%;
}

/* SideBar Start  */
.sidebar {
    min-width: 296px;
    height: 100%;
    background-color: #181F26;
    padding: 30px 17px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    z-index: 10;
    transition: all .5s;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.sidebar::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.sidebar-cross-icon-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.sidebar-cross-icon-row svg {
    fill: #979797;
    width: 35px;
    height: 35px;
    display: none;
}

.sidebar ul {
    margin-top: 36px;
}

.sidebar ul li {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* justify-content: space-between; */
    list-style-type: none;
    color: #8F9095;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 16px;
    padding: 11px;
    border-radius: 8px;
    overflow-y: hidden;
    user-select: none;
}

.sidebar ul li:first-child div,
.single-sidebar-option div {
    display: flex;
    align-items: center;
    gap: 12px;

}

.sidebar-option-main {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    position: relative;
    cursor: pointer;
}

.sidebar-option-back-shadow {
    position: absolute;
    left: -12px;
    top: -12px;
}

.sidebar-active-page {
    background: rgba(60, 67, 75, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.20);
}

.sidebar-option-main div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.sidebar-option-dropdown {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 30px 5px 10px 34px;
    display: none;
}

.sidebar-option-dropdown-active {
    display: flex;
}

.sidebar-option-dropdown a {
    font-size: 16px;
    text-decoration: none;
    color: #979797;
}

.sidebar-user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 12px;
    border-radius: 4px;
}

.sidebar-user-info p:first-child {
    font-size: 16px;
    font-weight: 700;
    color: black;
    background-color: #fff;
    border-radius: 100%;
    padding: 5px 10px;
}

.sidebar-user-info p:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.015em;
}

/* SideBar End  */

.right-side-content {
    width: 100%;
    height: 100%;
    padding-left: 296px;
}

.wrap {
    padding: 16px 36px;
}

header {
    width: 100%;
    background-color: #fff;
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-end;
    align-items: center;
}

.header-search-row {
    position: relative;
    width: 40%;
}

.header-search-row svg {
    position: absolute;
    left: 16px;
    top: 12px;
}

.header-search-row input {
    width: 100%;
    border-radius: 8px;
    padding: 13px 16px 13px 48px;
    color: rgba(172, 172, 176, 0.8);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background-color: #F6F6F9;
    border: 1px solid rgba(16, 36, 55, 0.08);
    outline: none;
}

.header-user-box {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    cursor: pointer;
}

.header-user-box div {
    margin-right: 8px;
}

.header-user-box div .header-user-dp {
    border-radius: 100%;
}

.header-user-box div p:first-child {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #1E1E20;
}

.header-user-box div p:nth-child(2) {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(172, 172, 176, 0.8);
}

.header-user-box-profile-info {
    position: absolute;
    top: 63px;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    /* box-shadow: 0px 4px 24px 0px rgba(24, 31, 38, 0.12); */
    /* padding: 20px 0; */
    width: 100%;
    border: 1px solid #D8D8D8;
    border-top: none;
    display: none;
    z-index: 15;
    overflow: hidden;
}

.header-user-box-profile-info-active {
    display: block;
}

.header-user-box-profile-info ul {
    display: flex;
    flex-direction: column;
    /* gap: 12px; */
}

.header-user-box-profile-info ul li {
    padding: 12px;
    list-style-type: none;
}

.header-user-box-profile-info ul li:hover {
    background-color: #F6F6F9;
}

.header-user-box-profile-info ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: rgba(24, 31, 38, 0.8);
    line-height: 20px;
}

.hamburg-lines {
    width: 35px;
    height: 35px;
    fill: #181F26;
    display: none;
}


.page-name-heading {
    display: flex;
    justify-content: space-between;
}

.page-name-heading p {
    font-size: 32px;
    font-weight: 800;
    line-height: 48px;
    color: #181F26;
}

.page-name-heading-btns {
    display: flex;
    gap: 12px;
    align-items: center;
}

.page-name-heading .page-name-heading-btns div {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    display: flex;
    gap: 8px;
    align-items: center;
    border-radius: 8px;
    padding: 13px 16px 13px 12px;
    cursor: pointer;
}

.page-name-heading .page-name-heading-btns a {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    display: flex;
    gap: 6px;
    align-items: center;
    border-radius: 8px;
    /* padding: 13px 16px 13px 12px; */
    padding: 7px 10px 7px 8px;
    text-decoration: none;
}

.page-name-heading-transparent-box {
    color: #181F26;
    border: 2px solid #181F26;
}

.page-name-heading-gray-box {
    color: #181F26;
    background-color: rgba(24, 31, 38, 0.24);
}

.page-name-heading-black-box {
    background-color: #181F26;
    color: #fff;
}

.right-side-content-inner {
    background-color: #fff;
    padding: 21px 24px 25px 24px;
    margin: 0 36px 18px 36px;
    box-shadow: 0px 0.778px 1.181px 0px rgba(61, 203, 177, 0.02), 0px 3px 2.444px 0px rgba(61, 203, 177, 0.03), 0px 8px 4.875px 0px rgba(61, 203, 177, 0.04), 0px 12px 9.556px 0px rgba(61, 203, 177, 0.04), 0px 12px 11.25px 0px rgba(61, 203, 177, 0.05);
    border-radius: 8px;
    min-height: 84vh;
}

.right-side-content-inner-search {
    position: relative;
    width: 40%;
    /* max-width: 601px; */
}

.right-side-content-inner-search svg {
    position: absolute;
    left: 16px;
    top: 12px;
}

.right-side-content-inner-search input {
    width: 100%;
    border-radius: 8px;
    padding: 14px 16px 14px 48px;
    color: rgba(172, 172, 176, 0.8);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background-color: #F6F6F9;
    border: 1px solid rgba(16, 36, 55, 0.08);
    outline: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
    box-shadow: 0px 4px 24px 0px rgba(24, 31, 38, 0.12);
    /* border-radius: 30px 30px 0 0; */

}

.table-wrapper {
    /* display: block; */
    white-space: nowrap;
    overflow-x: auto;
}


.table-wrapper::-webkit-scrollbar {
    /* width: 2em; */
    height: 7px
}

.table-wrapper::-webkit-scrollbar-thumb {
    background: #181F26;
    border-radius: 100px;
}


table th {
    background-color: #181F26;
    color: #fff;
    font-size: 14px;
    padding: 19px 13px;
    border: 1px solid #FFFFFF;
    text-align: left;
}

table th:first-child {
    border-radius: 6px 0 0 0;
}

table th:last-child {
    border-radius: 0 6px 0 0;
}

table tr td {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #181F26;
    padding: 22px 10px 22px 15px;
    border: 1px solid rgba(16, 36, 55, 0.24);
}

.table-first-name-box p {
    display: inline;
}

.table-first-name-box p:first-child {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    background-color: rgba(16, 36, 55, 0.08);
    border-radius: 100%;
    padding: 4px 7px;
    margin-right: 8px;
}

/* .table-status-box p {
    text-align: center;
    background-color: #EFFBF9;
    border-radius: 6px;
    padding: 7px 10px;
} */

.table-status-box select {
    text-align: left;
    background-color: #EFFBF9;
    border-radius: 6px;
    padding: 7px 25px 7px 10px;
    border: none;
    outline: none;
}

.table-status-box select {
    background: #EFFBF9 url(images/select-arrow-down-small.svg) no-repeat right;
    -webkit-appearance: none;
    background-position: right 7px center;
}

/* 
.table-status-box p svg {
    margin-left: 6px;
} */

.table-comment-box p {
    display: inline;
    color: #0EA5E8;
    border-bottom: 1px solid #0EA5E8;
    cursor: pointer;
}

.table-action-box {
    text-align: center;
    gap: 8px;
}

.table-action-box svg {
    cursor: pointer;
}

.right-side-content-inner-filter-row {
    display: flex;
    gap: 12px;
    justify-content: space-between;
}

.right-side-content-inner-filter-row-left {
    display: flex;
    gap: 16px;
    align-items: center;
}

.right-side-content-inner-filter-row-left {
    width: 70%;
}

.right-side-content-inner-filter-row-left-single {
    width: 25%;
}

.right-side-content-inner-filter-row-left-single p {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #181F26;
    margin-bottom: 8px;
}

.right-side-content-inner-filter-row-left-single select {
    width: 100%;
    color: rgba(172, 172, 176, 0.8);
    background-color: #F6F6F9;
    padding: 10px 13px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.right-side-content-inner-filter-row-left-single input {
    width: 100%;
    color: rgba(172, 172, 176, 0.8);
    background-color: #F6F6F9;
    padding: 10px 13px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.single-filter-box p {
    margin-bottom: 28px;
}

.single-filter-box div {
    width: 95px;
    /* width: 12%; */
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #181F26;
    background-color: #F6F6F9;
    padding: 10px 13px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.right-side-content-inner-filter-row-right {
    display: flex;
    gap: 10px;
    align-items: center;
}


.right-side-content-inner-filter-row-right-sortby {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #181F26;
    border: 1px solid #ECEDEF;
    padding: 13px 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.right-side-content-inner-filter-hamburg {
    position: relative;
}

.right-side-content-inner-filter-hamburg-line {
    border: 1px solid #D9DBDE;
    border-radius: 8px;
    cursor: pointer;
}

.right-side-content-inner-filter-hamburg-line rect {
    fill: #fff;
}

.right-side-content-inner-filter-hamburg-line:hover rect {
    fill: #D9DBDE;
}

.right-side-content-inner-filter-hamburg-inner {
    position: absolute;
    top: 0;
    right: 0;
    width: 324px;
    background-color: #fff;
    border-radius: 8px;
    display: none;
    z-index: 20;
}

.project-page-column-filter {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right-side-content-inner-filter-hamburg-inner-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    color: #fff;
    background-color: #181F26;
    padding: 12.4px 16px;
    border-radius: 8px 8px 0 0;
}

.right-side-content-inner-filter-hamburg-inner-heading svg {
    transform: rotate(90deg);
}

.right-side-content-inner-filter-hamburg-inner-inner {
    padding: 13px 27px 20px 27px;
}

.right-side-content-inner-filter-hamburg-inner-subheading {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    color: #181F26;
}

.right-side-content-inner-filter-hamburg-inner-inner-filters {
    margin: 12px 0 30px 0;
}

.right-side-content-inner-filter-hamburg-inner-inner-filters div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
}

.right-side-content-inner-filter-hamburg-inner-inner-filters div label {
    width: 50%;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #181F26;
    display: flex;
    align-items: center;
    gap: 12px;
}

.project-page-column-filter {
    width: 540px;
}

.project-page-column-filter-inner {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.project-page-column-filter-inner-col div {
    display: flex;
    flex-direction: column;
}

.project-page-column-filter-inner-col div label {
    /* width: 50%; */
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #181F26;
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 7px 0;
}

.project-page-column-filter-btns {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end !important;
}

.project-page-column-filter-btns button {
    width: 80px !important;
}

.right-side-content-inner-filter-hamburg-inner-inner-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

.right-side-content-inner-filter-hamburg-inner-inner-btns button {
    padding: 6px;
    width: 50%;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    border-radius: 10px;
}

.right-side-content-inner-filter-hamburg-inner-inner-btns button:first-child {
    color: #181F26;
    border: 1px solid #181F26;
    background-color: #fff;
}

.right-side-content-inner-filter-hamburg-inner-inner-btns button:last-child {
    color: #fff;
    border: 1px solid #181F26;
    background-color: #181F26;
}


/* Add Task CSS  */

.add-task-inner-heading {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #181F26;
    border-bottom: 1px solid rgba(16, 36, 55, 0.16);
    padding: 24px 15px;
}

.add-task-input-box {
    margin-top: 22px;
    width: 100%;
}

.add-task-input-box p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #1E1E20;
    margin-bottom: 4px;
}

.required-star {
    color: #EA6159;
}

.add-task-input-box input,
.add-task-input-box textarea,
.add-task-input-box select {
    border: 1px solid rgba(16, 36, 55, 0.24);
    padding: 13px 15px 13px 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #BABABA;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.add-task-input-box-double {
    display: flex;
    gap: 18px;
}

.add-task-input-box-half {
    width: 49.5%;
}

.add-task-input-check-row {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #1E1E20;
    accent-color: white;
    user-select: none;
}

.add-task-input-check-row input {
    width: 18px;
    height: 18px;
}

.select-value-custom-box {
    position: relative;
}

.select-value-custom-box img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    z-index: -1;
}

.select-value-custom-box input {
    cursor: pointer;
    z-index: 1;
}

.select-value-custom-box div {
    position: absolute;
    top: 47.3px;
    left: 0;
    width: 100%;
    background-color: #fff;
    /* border: 1px solid #181F26; */
    border: 1px solid rgba(16, 36, 55, 0.24);
    border-top: none;
    display: none;
}

.active-select-value-custom-box-inner {
    display: block;
}

.select-value-custom-box div li {
    list-style-type: none;
    color: #181F26;
    padding: 8px 12px;
}

.select-value-custom-box div li:hover {
    color: #fff;
    background-color: #181F26;
}

input[type="checkbox"] {
    accent-color: white;
}

input[type="checkbox"]:checked {
    outline: 1px solid #F1595C;
    border-radius: 4px;
}

.add-task-bottom-btns {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    margin-top: 81px;
}

.add-task-bottom-btns button {
    padding: 7px 28px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
}

.add-task-bottom-btns button:first-child {
    border-color: rgba(16, 36, 55, 0.16);
    background-color: #fff;
}

.check-assign-project-fields-row {
    display: none;
}

/* Project List CSS  */

.project-list-inner-outer-container {
    overflow-x: scroll;
    margin-left: 56px;
    margin-right: 76px;
}

.project-list-inner-outer-container::-webkit-scrollbar {
    /* width: 2em; */
    height: 7px
}

.project-list-inner-outer-container::-webkit-scrollbar-thumb {
    background: #181F26;
    border-radius: 100px;
}


.project-list-inner-container {
    /* margin: 0 60px 30px 60px; */
    display: flex;
    gap: 41px;
    margin-bottom: 24px;
}

.project-list-card-full {
    min-width: 468px;
    background-color: #fff;
    border-radius: 8px;
    align-self: start;
}

.project-list-doing {
    margin: 26px 0 24px 0;
    border-left: 3px solid #085DB7;
    padding-left: 38px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 14px;
}

.project-list-card-full-inner {
    background-color: #F8FBFF;
    margin: 0 15px;
    border-radius: 8px;
    border: 1px solid #E4E4E4;
    padding: 32px;
    margin-bottom: 24px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.01), 0px 5px 11px 0px rgba(0, 0, 0, 0.01), 0px 20px 20px 0px rgba(0, 0, 0, 0.01), 0px 45px 27px 0px rgba(0, 0, 0, 0.01), 0px 80px 32px 0px rgba(0, 0, 0, 0.00), 0px 125px 35px 0px rgba(0, 0, 0, 0.00);
}

.project-list-card-full-inner-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    color: #181F26;
    margin-bottom: 24px;
}

.project-list-card-full-inner-subheading {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #085DB7;
}

.project-list-card-full-inner-subheading div {
    background-color: #fff;
    padding: 8px 9px 7px 8px;
    border-radius: 6px;
    box-shadow: 0px 0.778px 1.181px 0px rgba(61, 203, 177, 0.02), 0px 3px 2.444px 0px rgba(61, 203, 177, 0.03), 0px 8px 4.875px 0px rgba(61, 203, 177, 0.04), 0px 12px 9.556px 0px rgba(61, 203, 177, 0.04), 0px 12px 11.25px 0px rgba(61, 203, 177, 0.05);
}

.project-list-card-full-inner-date {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.project-list-card-full-inner-date div p:first-child {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #181F26;
}

.project-list-card-full-inner-date div p:last-child {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 12px;
    color: #181F26;
}

.project-list-card-progress-box {
    margin-top: 4px;
}

.project-list-card-progress-box .percentage {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #181F26;
    text-align: right;
}

.project-list-card-progress-outer {
    position: relative;
    width: 100%;
    height: 12px;
    background-color: #E7E7E9;
    margin-top: 12px;
    border-radius: 50px;
    overflow: hidden;
}

.project-list-card-progress-inner {
    position: absolute;
    height: 100%;
    background-color: #085DB7;
    left: 0;
    top: 0;
}

.progress-zero-per {
    width: 0;
}

.progress-fifty-per {
    width: 50%;
}
.progress-full-per{
    width: 100%;
}

.project-list-card-task-total {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 8px;
}

.project-list-card-task-total div {
    display: flex;
    align-items: center;
    gap: 4px;
}

.project-list-card-option-row {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 32px;
}

.project-list-card-option-row button {
    padding: 7px 12px;
    background-color: #085DB7;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    gap: 8px;
}

.project-list-card-option-row div {
    padding: 4px 8px;
    background-color: rgba(241, 89, 92, 0.16);
    border-radius: 100px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #181F26;
    gap: 4px;
}

.project-list-full-card-add-project a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #181F26;
    text-decoration: none;
    padding: 15px 19px 15px 14px;
}

.project-list-card-detail-expand {
    margin-top: 24px;
    border-top: 1px solid rgba(24, 31, 38, 0.24);
    padding: 24px 0;
    display: none;
}

.project-list-card-detail-expand-heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #181F26;
}

.project-list-card-detail-expand-description {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #085DB7;
    margin: 12px 0 20px 0;
}

.project-list-card-detail-expand-task {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #181F26;
    margin: 20px 0 12px 0;
}

.project-list-card-detail-expand-task-description {
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    color: #5F6368;
    margin-bottom: 20px;
}

.project-list-card-detail-expand-assigned-row,
.project-list-card-detail-expand-date-row {
    display: flex;
    justify-content: space-between;
}

.project-list-card-detail-expand-assigned-row div,
.project-list-card-detail-expand-date-row div {
    width: 35%;
}

.project-list-card-detail-expand-assigned-row div p:first-child,
.project-list-card-detail-expand-date-row div p:first-child {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #181F26;
}

.project-list-card-detail-expand-assigned-row div p:last-child,
.project-list-card-detail-expand-date-row div p:last-child {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #181F26;
}

.project-list-card-detail-expand-assigned-row div:first-child p:last-child {
    margin-top: 16px;
}

.project-list-card-detail-expand-assigned-row div:last-child p:first-child {
    margin-bottom: 8px;
}

.project-list-card-detail-expand-assigned-row div:last-child p:last-child {
    display: inline;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #181F26;
    background-color: #D5FDCD;
    padding: 4px 12px;
    border-radius: 100px;
}

.project-list-card-detail-expand-date-row {
    margin-top: 24px;
}

.project-list-card-detail-expand-date-row div p:first-child {
    margin-bottom: 12px;
}


/* Add Project Page  */
.padding-zero {
    padding: 0;
}

.addProject-individual-section {
    padding: 21px 24px 25px 24px;
    box-shadow: 0px 0.778px 1.181px 0px rgba(61, 203, 177, 0.02), 0px 3px 2.444px 0px rgba(61, 203, 177, 0.03), 0px 8px 4.875px 0px rgba(61, 203, 177, 0.04), 0px 12px 9.556px 0px rgba(61, 203, 177, 0.04), 0px 12px 11.25px 0px rgba(61, 203, 177, 0.05);
}

.no-shadow {
    box-shadow: none;
}

.add-project-add-role-plus-btn-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

.add-project-add-role-plus-btn-row button {
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    background-color: #085DB7;
    padding: 9px 33px 8px 34px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

#upload-drawing-input {
    display: none;
}

.upload-drawing-label {
    display: flex;
    gap: 21px;
    align-items: center;
    padding: 29px 33px 32px 33px;
    border: 1px solid rgba(16, 36, 55, 0.24);
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: #7E7E7E;
    background-color: #EDF4FC;
    border-radius: 8px;
}

.addproject-comment-field {
    height: 101px;
}

.activity-task-outer,
.activity-task-inner {
    width: 100%;
    border: 1px dashed #085DB7;
    padding: 30px 16px;
    border-radius: 8px;
    margin-top: 47px;
    position: relative;
}

.activity-task-inner {
    background-color: rgba(8, 93, 183, 0.06);
    margin-top: 72px;
    display: none;
}

.activity-task-inner textarea,
.activity-task-inner input,
.activity-task-inner select {
    opacity: 0.8;
}

.activity-task-activity-box {
    position: absolute;
    left: 16px;
    top: -23px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #181F26;
    background-color: #CEE6FF;
    padding: 10px 51px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 5px;
}

.activity-task-activity-box-btn-row {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 10px 0;
}

.activity-task-activity-box-btn-row button {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding: 12px 25px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.activity-task-activity-box-btn-row button:first-child {
    background-color: transparent;
    color: #181F26;
    border: 1px solid #085DB7;
}

.activity-task-activity-box-btn-row button:last-child {
    color: #fff;
    background-color: #FB5B5B;
    border: 1px solid #FB5B5B;
}

.add-Project-bottom-btns {
    padding: 0 31px 30px 31px;
}

/* Projects  */

.right-side-content-inner-filter-row-left-search {
    position: relative;
}

.right-side-content-inner-filter-row-left-search svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.right-side-content-inner-filter-row-left-search input {
    padding-left: 42px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.right-side-content-inner-filter-dropdown {
    position: relative;
    cursor: pointer;
}

.right-side-content-inner-filter-dropdown-clickable input {
    cursor: pointer;
}

.right-side-content-inner-filter-dropdown .right-side-content-inner-filter-dropdown-icon-down {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
}

.right-side-content-inner-filter-dropdown-inner {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    width: 246px;
    /* width: 100%; */
    background-color: #fff;
    z-index: 15;
    display: none;
}

.right-side-content-inner-filter-dropdown-inner-active {
    display: block;
}

.right-side-content-inner-filter-dropdown-inner-heading {
    background-color: #000;
    padding: 13px 18px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    border-radius: 8px 8px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.right-side-content-inner-filter-dropdown-inner-inner p {
    color: #181F26;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    padding: 10px 18px;
    border-bottom: 1px solid rgba(16, 36, 55, 0.24);
    /* border: 1px solid #F1595C;
    /* background-color: #F1595C;
    border-radius: 8px;
    color: #fff;
    padding: 4px 12px;
    border: none;
    outline: none;
    cursor: pointer; */
}

.right-side-content-inner-filter-dropdown-inner-inner div {
    display: flex;
    flex-direction: column;
    padding: 12px 20px 10px 20px;

}

.right-side-content-inner-filter-dropdown-inner-inner div label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #181F26;
}

.right-side-content-inner-filter-dropdown-inner-inner div label input {
    width: auto;
}

/* Document Page  */

.documents-search-filter-container {
    position: relative;
}


.documents-search-filter-container svg {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
}

.right-side-content-inner-filter-dropdown-inner-inner .document-filter-by-status-inner-option-container {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.document-filter-by-status-inner-option-container div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.document-filter-by-status-inner-option-container div:hover {
    background-color: #D8D8D8;
}

.document-filter-by-status-inner-option-container div h6 {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #181F26;
}

.document-status-box p {
    border-radius: 6px;
    padding: 4px 12px;
}

.document-status-underwork {
    color: #085DB7;
    background-color: rgba(177, 212, 250, 0.6);
    width: 101px;
}

.document-status-approval {
    color: #00AD90;
    background-color: rgba(239, 251, 249, 1);
    width: 103px;

}

.document-status-accepted {
    color: #42AA2F;
    background-color: rgba(213, 253, 205, 0.6);
    width: 90px;
}

.document-status-rejected {
    color: #F1595C;
    background-color: rgba(241, 89, 92, 0.2);
    width: 85px;
}

/* Comment Modal  */

.comment-modal {
    width: 47%;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    /* overflow: hidden; */
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0.778px 1.181px 0px rgba(61, 203, 177, 0.02), 0px 3px 2.444px 0px rgba(61, 203, 177, 0.03), 0px 8px 4.875px 0px rgba(61, 203, 177, 0.04), 0px 12px 9.556px 0px rgba(61, 203, 177, 0.04), 0px 12px 11.25px 0px rgba(61, 203, 177, 0.05);
    padding: 16px;
    display: none;
    z-index: 15;
}

.comment-modal-heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #181F26;
    background-color: #CEE6FF;
    border-radius: 6px 6px 0px 0px;
    padding: 20px 24px 16px 24px;
}

.comment-modal-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #181F26;
    padding: 18px 17px 17px 24px;
    background: #FFF;
    box-shadow: 0px 4px 24px 0px rgba(24, 31, 38, 0.12);
    margin-bottom: 28px;
    /* width: 47%; */
}

.comment-modal div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.comment-modal button {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    padding: 12px 24px;
    border: none;
    outline: none;
    background-color: #181F26;
    cursor: pointer;
    border-radius: 10px;
}

/* Forwad Doc Modal  */

.forwad-doc-modal {
    position: absolute;
    width: 30%;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 8px;
    z-index: 15;
    display: none;
}

.forwad-doc-heading {
    display: flex;
    align-items: center;
    padding: 24px 25px;
    gap: 10px;
    border-radius: 8px 8px 0px 0px;
    background-color: #181F26;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
}

.forwad-doc-inner {
    padding: 20px 24px 24px 24px;
}

.modal-inner label {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E1E20;
}

.modal-inner select {
    width: 100%;
    padding: 13px 23px;
    color: rgba(16, 36, 55, 0.24);
    border: 1px solid rgba(16, 36, 55, 0.24);
    border-radius: 8px;
    margin-top: 4px;
}

.forwad-selected-heading {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E1E20;
    margin: 20px 0 10px 0;
}

.forwad-selected-info {
    border-radius: 8px;
    border: 1px solid #B1D4FA;
    display: inline-block;
    padding: 10px 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #181F26;
}

.forwad-selected-info span {
    border-radius: 8px;
    background-color: rgba(177, 212, 250, 0.2);
    padding: 6px 12px;
    color: #085DB7;
}

.modal-double-btns-row {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 22px;
}

.modal-double-btns-row button {
    padding: 12px 30px;
    border-radius: 10px;
    border: 2px solid rgba(16, 36, 55, 0.16);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.modal-double-btns-row button:first-child {
    color: #181F26;
    background-color: #fff;
}

.modal-double-btns-row button:last-child {
    color: #fff;
    background-color: #181F26;
}

.project-activity-card {
    display: none;
}

.project-activity-card td {
    border: none;
    position: relative;
}

.project-page-tr-dropdown-active {
    background-color: rgba(16, 36, 55, 0.06);
}

.project-activity-card-active {
    display: table-row;
}

.project-activity-card-dir-arrow {
    position: absolute;
    top: 0;
    left: 50px;
}

.project-activity-card-inner {
    width: 93%;
    margin: 0 0 0 103px;
    box-shadow: 0px 4px 24px 0px rgba(24, 31, 38, 0.12);
    padding: 24px;
    margin-top: 2px;
    border-radius: 6px;
}

.project-activity-card-inner td {
    text-wrap: wrap;
}

.project-activity-card-heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #1E1E20;

}

.project-activity-card-inner table {
    box-shadow: 0px 4px 24px 0px rgba(24, 31, 38, 0.12);
    border-radius: 30px 30px 0 0;

}

.project-activity-card-inner table th {
    color: #181F26;
    background-color: #CEE6FF;
    border-right: 1px solid rgba(16, 36, 55, 0.24);
}

.project-activity-task-card-inner {
    margin-top: 20px;
}

.project-activity-task-card-inner table th {
    background-color: #FFEDD1;
}


.project-activity-card-inner table th:last-child {
    border-right: none;
}

.project-activity-card-inner table td {
    border: 1px solid rgba(16, 36, 55, 0.24);
}

.project-activity-card-inner table td:first-child {
    border-left: none;
}

.project-activity-card-inner table td:last-child {
    border-right: none;
}

.project-activity-card-inner table td:last-child {
    border-right: none;
}

.project-activity-task-card-inner-btn-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.project-activity-task-card-inner-btn-row button {
    color: #fff;
    background-color: #085DB7;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 8px 16px 8px 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: none;
    outline: none;

}

/* Drawing Page  */

.drawing-page-name-heading div {
    display: flex;
    align-items: center;
    gap: 26px;
}

.drawing-page-name-heading div .page-name-heading-folder-name {
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    color: #5F6368;
}

.drawing-page-right-side-content-outer {
    display: flex;
    /* width: 100%; */
    margin: 15px 0 0 36px;
    min-height: 84vh;
}

.drawing-page-right-side-content-outer-left {
    min-width: 274px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 4px 24px 0px rgba(24, 31, 38, 0.12);
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
}

.drawing-page-right-side-content-outer-right {
    width: 100%;
    margin-left: 24px;
    min-height: 84vh;
}

.drawing-page-right-side-content-outer-left-top {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: rgba(24, 31, 38, 0.8);
    padding: 0 16px;
}

.drawing-page-right-side-content-outer-left-top p {
    user-select: none;
}

.drawing-page-right-side-content-outer-left ul {
    margin: 27px 0 10px 0;
    display: flex;
    flex-direction: column;
    /* gap: 22px; */
}

.drawing-page-right-side-content-outer-left ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: rgba(24, 31, 38, 0.8);
    padding: 11px 20px 11px 52px;
}

.drawing-page-right-side-content-outer-left ul .active-folder {
    background-color: #CEE6FF;
}

.drawing-detail-inner-heading {
    font-size: 32px;
    font-weight: 800;
    line-height: 48px;
    color: #181F26;
}

.drawing-right-side-content-inner-inner {
    background: #FFF;
    box-shadow: 0px 4px 24px 0px rgba(24, 31, 38, 0.12);
    padding: 32px;
    margin-top: 16px;
}

/* Folder  Page  */
.single-folder-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    row-gap: 32px;
    column-gap: 12px;
}

.folder-single {
    width: 230px;
    height: 270px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #E4E4E4;
    box-shadow: 0px 4px 24px 0px rgba(24, 31, 38, 0.12);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    /* justify-content: center; */
    padding: 12px;
}

.folder-single-delete-icon {
    align-self: flex-end;
    justify-self: start;
}

.folder-single-heading {
    margin: 23px 0 4px 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #181F26;
}

.folder-single-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #085DB7;
}

/* New Folder Modal  */
.new-folder-modal {
    width: 31%;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0.778px 1.181px 0px rgba(61, 203, 177, 0.02), 0px 3px 2.444px 0px rgba(61, 203, 177, 0.03), 0px 8px 4.875px 0px rgba(61, 203, 177, 0.04), 0px 12px 9.556px 0px rgba(61, 203, 177, 0.04), 0px 12px 11.25px 0px rgba(61, 203, 177, 0.05);
    display: none;
    z-index: 15;
}

.new-folder-modal-heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    color: #181F26;
    padding: 24px 46px;
    border-bottom: 1px solid rgba(16, 36, 55, 0.16);
    display: flex;
    align-items: center;
    gap: 10px;
}

.new-folder-modal-inner {
    padding: 20px 24px 24px 24px;
}

.new-folder-modal-inner select {
    margin-bottom: 20px;
}

.new-folder-modal-inner input {
    width: 100%;
    padding: 13px 23px;
    border-radius: 8px;
    border: 1px solid rgba(16, 36, 55, 0.24);
}



select {
    background: url(http://127.0.0.1:8000/images/select-arrow-down-black.svg ) no-repeat right;
    -webkit-appearance: none;
    /* background-position-x: right 21px; */
    background-position: right 17px center;
}

select option {
    /* margin: 40px; */
    /* background: rgb(0, 0, 0);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); */
}

/* input[type="date"] {
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: auto;
    background: url(images/select-arrow-down.svg) no-repeat right;
    -webkit-appearance: none;
    background-position-x: 95%;
    color: #181F26;
} */


/* select::before {
    content: "";
    left: 90px;
    top: 10px;
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("images/select-arrow-down.svg");
    background-repeat: no-repeat;
} */



/* Calender Styling  */

.fc-h-event .fc-event-title-container {
    height: 48px;
    background: #E4E4E4;
    color: #102437;
    background-color: #F4F4F4;
    ;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 0 6px 6px 0;
    border-left: 4px solid #DC8400;
}

.fc .fc-daygrid-day-top {
    flex-direction: row;
}

/* PlaceHolder Color  */
::placeholder {
    color: #BABABAed;
    /* Firefox */
}

::-ms-input-placeholder {
    /* Edge 12-18 */
    color: #BABABA;
}

/* Media Queries  */

/* Height Media Queries  */

@media(max-height:645px) {
    .project-page-column-filter {
        top: 70%;
    }
}

@media(max-height:455px) {
    .project-page-column-filter {
        top: 85%;
    }
}


/* Width Media Queries  */
@media(max-width:1650px) {
    .header-search-row {
        width: 50%;
    }


    .right-side-content-inner-search {
        width: 45%;
        /* min-width: ; */
    }

    .right-side-content-inner-filter-dropdown-inner {
        width: 246px;
    }
}

@media(max-width:1525px) {
    .right-side-content-inner-search {
        /* width: 55%; */
        min-width: 511px;
    }
}

@media(max-width:1330px) {
    .right-side-content-inner-filter-row {
        flex-direction: column;
    }

    .right-side-content-inner-filter-row-left {
        width: 100%;
    }

    .right-side-content-inner-filter-row-right {
        justify-content: flex-end;
    }

    .drawing-page-right-side-content-outer-left {
        position: absolute;
    }

    .drawing-page-right-side-content-outer {
        flex-direction: column;
    }

    .drawing-page-right-side-content-outer-left ul {
        display: none;
    }

    .drawing-page-right-side-content-outer-right {
        margin-top: 90px !important;
    }

    .drawing-folder-toggle {
        display: flex !important;
    }

    .drawing-page-right-side-content-outer-right {
        width: auto;
    }

}


@media(max-width:1220px) {
    .project-list-card-full {
        width: 100%;
    }
}

@media (max-width:1024px) {
    header {
        justify-content: space-between;
    }

    .hamburg-lines {
        display: block;
    }

    .sidebar {
        left: -100%;
    }

    .sidebar-cross-icon-row svg {
        display: block;
    }

    .right-side-content {
        padding-left: 0;
    }

    /* Header  */
    header {
        flex-wrap: wrap;
    }

    .header-search-row {
        width: 100%;
        order: 3;
        margin: 25px 0;
    }

    .project-activity-card-dir-arrow {
        left: 20px;
    }

    .project-activity-card-inner {
        width: 95%;
        margin: 0 0 0 72px;
    }

    .project-list-inner-container {
        /* margin: 0 30px 30px 30px; */
    }
}

@media (max-width:768px) {
    .wrap {
        padding: 16px 16px;
    }

    .right-side-content-inner {
        margin: 0 16px 18px 16px;
    }

    .page-name-heading p {
        font-size: 20px;
    }

    .add-task-inner-heading {
        font-size: 16px;
    }

    .page-name-heading .page-name-heading-btns div {
        font-size: 12px;
        padding: 13px 10px 13px 10px;
    }

    .right-side-content-inner-search {
        width: 100%;
    }

    .add-task-input-box-double {
        flex-wrap: wrap;
    }

    .add-task-input-box-half {
        width: 100%;
    }

    .add-task-bottom-btns button,
    .add-Project-bottom-btns button {
        padding: 14px 30px;
        font-size: 14px;
        line-height: 18px;
    }

    .right-side-content-inner-filter-row-left {
        flex-wrap: wrap;
    }

    .project-list-card-full-inner {
        padding: 20px 12px;
    }

    .project-list-card-full-inner-heading {
        font-size: 16px;
    }

    .project-list-card-full-inner-subheading {
        gap: 8px;
        font-size: 12px;
    }

    .project-list-card-full-inner-date div p:first-child {
        font-size: 14px;
    }

    .project-list-card-full-inner-date div p:last-child {
        font-size: 12px;
        margin-top: 6px;
    }

    .drawing-page-right-side-content-outer {
        margin: 15px 0 0 16px;
    }

    .project-list-inner-outer-container {
        margin: 0 36px;
    }

}

@media(max-width:630px) {
    .page-name-heading {
        flex-direction: column;
    }

    .flex-row {
        flex-direction: row;
    }


    .project-list-card-full {
        min-width: 361px;
        max-width: 361px;
    }

    .project-page-column-filter {
        width: 90%;
    }

}

@media(max-width:550px) {
    .right-side-content-inner-filter-row-left-single {
        width: 46%;
    }

    .second-filter .right-side-content-inner-filter-dropdown-inner {
        left: -50px;
    }

    .right-side-content-inner-filter-hamburg-inner {
        right: -60px;
    }
}

@media(max-width:440px) {

    .page-name-heading-btns {
        flex-wrap: wrap;
    }

    .page-name-heading-transparent-box {
        order: 3;
    }

    .page-name-heading-gray-box,
    .page-name-heading-black-box {
        width: 48%;
    }

    .width-auto {
        width: auto;
    }

    .order-zero {
        order: 0;
    }

    .activity-task-activity-box-btn-row {
        flex-wrap: wrap;
        gap: 10px;
    }

    .activity-task-activity-box-btn-row button {
        width: 100%;
    }

    .project-list-card-full {
        min-width: 290px;
        max-width: 290px;
    }

    .project-list-card-option-row button {
        font-size: 12px;
    }

    .project-list-card-option-row div {
        font-size: 10px;
    }

    .project-list-card-detail-expand-description {
        font-size: 11px;
        line-height: 15px;
    }

    .project-list-card-detail-expand-assigned-row div p:first-child {
        font-size: 12px;
    }

    .project-list-card-detail-expand-date-row div p:last-child,
    .project-list-card-detail-expand-assigned-row div:last-child p:last-child {
        font-size: 10px;
    }

    .project-list-card-detail-expand-assigned-row div p:last-child,
    .project-list-card-detail-expand-date-row div p:last-child {
        font-size: 10px;
    }

    .project-list-card-detail-expand-assigned-row div:first-child p:last-child {
        margin-top: 6px;
    }

    .project-list-card-detail-expand-assigned-row div:last-child p:first-child {
        margin-bottom: 2px;
    }

    .project-list-card-detail-expand-date-row div p:first-child {
        margin-bottom: 6px;
    }

    .second-filter .right-side-content-inner-filter-dropdown-inner {
        left: -100px;
    }

    .right-side-content-inner-filter-hamburg-inner {
        width: 300px;
    }

    .right-side-content-inner-filter-hamburg-inner {
        right: -120px;
    }

    .project-page-column-filter {
        width: 90%;
    }

    .right-side-content-inner-filter-hamburg-inner-inner {
        padding: 13px 17px 20px 17px;
    }

    .right-side-content-inner-filter-hamburg-inner-subheading {
        gap: 5px;
        font-size: 14px;
    }

    .project-page-column-filter-inner-col div label {
        font-size: 12px;
    }

}

@media(max-width:355px) {
    .right-side-content-inner-filter-hamburg-inner {
        right: -135px;
    }
}